@page "/CreatePost"
@using Domain.Models
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject NavigationManager navMgr
@using System.Security.Claims
@inject IPostService postService
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login to create a post</h3>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Create Post</h3>
            <label class="title">Title:</label>
            <input class="titleText" type="text" @bind="postTitle"/>
            <label class="body">Body:</label>
            <textarea class="bodyText" @bind="postBody"></textarea>
            <div class="buttons">
                @if (!string.IsNullOrEmpty(msg))
                {
                    <label style="color: red">@msg</label>
                }
                <button @onclick="Create" class="createBtn">Create Post</button>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string postTitle = "";
    private string postBody = "";
    private string msg = "";
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
    }

    private async Task Create()
    {
        msg = "";
        if (string.IsNullOrEmpty(postTitle))
        {
            msg = "Title cannot be empty!";
            return;
        }
        if (string.IsNullOrEmpty(postBody))
        {
            msg = "Body cannot be empty!";
            return;
        }
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        try
        {
            //var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            //var user = authState.User;

            //var username = user.FindFirst(ClaimTypes.Name)?.Value;
            //var role = user.FindFirst(ClaimTypes.Role)?.Value;
            
            //var currentUser = new User { Username = username, Password = "", Role = role };
            PostCreationDto postToCreate = new(user.Identity.Name, postTitle, postBody);
            //await postService.CreateAsync(new PostCreationDto(currentUser, postTitle, postBody));
            await postService.CreateAsync(postToCreate);
            postTitle = "";
            postBody = "";
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}